<h1>Listing conta</h1>

<table class="table">
  <tr>
    <th>Numero</th>
    <th>Primeiro corr</th>
    <th>Segundo corr</th>
    <th>Terceiro corr</th>
    <th>Saldo</th>
    <th>Limite</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @conta.each do |contum| %>
  <tr>
    <td><%= contum.numero %></td>
    <td><%= contum.primeiro_corr %></td>
    <td><%= contum.segundo_corr %></td>
    <td><%= contum.terceiro_corr %></td>
    <td><%= contum.saldo %></td>
    <td><%= contum.limite %></td>
    <td><%= link_to 'Show', contum %></td>
    <td><%= link_to 'Edit', edit_contum_path(contum) %></td>
    <td><%= link_to 'Destroy', contum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
  <a class="btn collapse-data-btn" data-toggle="collapse" href="#saque">Saque</a>
  <a class="btn collapse-data-btn" data-toggle="collapse" href="#deposito">Deposito</a>
<a class="btn collapse-data-btn" data-toggle="collapse" href="#pagamento">Pagamentos de Contas</a>
<a class="btn collapse-data-btn" data-toggle="collapse" href="#transferencia">Tranferencia</a>
<br><br>
<div id="saque" class="collapse">
  Saque
  <form action="/saque">
    Nº Conta<input name="conta" type="number">
    Valor :<input name="saque" type="number">
    <input value="Sacar" type="submit" >
  </form>
</div>
<br>
<div id="deposito" class="collapse">
  <form action="/deposito">
  Deposito<br>
    Nº Conta<input name="conta" type="number"><br>
    Valor deposito :<input name="saque" type="number">
    <input value="Depositar" type="submit" >
  </form>
</div>
<div id="pagamento" class="collapse">
  <form action="/pagamento">
    Deposito<br>
    Nº Conta<input name="conta" type="number"><br>
    Valor pagamento:<input name="valor" type="number">
    <input value="Pagamento" type="submit" >
  </form>
</div>
<div id="transferencia" class="collapse">
  <form action="/transferencia">
    Deposito<br>
    Nº Conta Origem<input name="origem" type="number"> <br>
    Nº Conta Destino<input name="destino" type="number"><br>
    Valor a Transferir:<input name="valor" type="number">
    <input value="Transferir" type="submit" >
  </form>
</div>


<br />

<%= link_to 'New Contum', new_contum_path %>

