<p id="notice"><%= notice %></p>

<p>
  <b>Numero:</b>
  <%= @conta.numero %>
</p>

<p>
  <b>Primeiro corr:</b>
  <%= @conta.primeiro_corr %>
</p>

<p>
  <b>Segundo corr:</b>
  <%= @conta.segundo_corr %>
</p>

<p>
  <b>Terceiro corr:</b>
  <%= @conta.terceiro_corr %>
</p>

<p>
  <b>Limite:</b>
  <%= @conta.limite %>
</p>


<%= link_to 'Edit', edit_conta_path(@conta) %> |
<%= link_to 'Back', conta_path %>
