<p id="notice"><%= notice %></p>

<p>
  <b>Numero:</b>
  <%= @contum.numero %>
</p>

<p>
  <b>Primeiro corr:</b>
  <%= @contum.primeiro_corr %>
</p>

<p>
  <b>Segundo corr:</b>
  <%= @contum.segundo_corr %>
</p>

<p>
  <b>Terceiro corr:</b>
  <%= @contum.terceiro_corr %>
</p>

<p>
  <b>Limite:</b>
  <%= @contum.limite %>
</p>


<%= link_to 'Edit', edit_contum_path(@contum) %> |
<%= link_to 'Back', conta_path %>
