<p id="notice"><%= notice %></p>

<p>
  <b>Cpf:</b>
  <%= @correntista.cpf %>
</p>

<p>
  <b>Nome:</b>
  <%= @correntista.nome %>
</p>

<p>
  <b>Endereco:</b>
  <%= @correntista.endereco %>
</p>

<p>
  <b>Email:</b>
  <%= @correntista.email %>
</p>

<p>
  <b>Senha:</b>
  <%= @correntista.senha %>
</p>


<%= link_to 'Edit', edit_correntista_path(@correntista) %> |
<%= link_to 'Back', correntista_path %>
