<h1 class="text-center">Todas as Transações</h1>

<%= link_to 'Nova Transação', new_transacao_path, class:"btn" %>

<table class="table table-hover table-condensed">
  <tr>
    <th>Codigo</th>
    <th>Tipo</th>
    <th>Nro conta</th>
    <th>Nro conta transf</th>
    <th>Valor</th>
    <th>Data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
<% @transacaos.each do |transacao| %>
  <tr>
    <td><%= transacao.codigo %></td>
    <td><%= transacao.tipo %></td>
    <td><%= transacao.nro_conta %></td>
    <td><%= transacao.nro_conta_transf %></td>
    <td><%= transacao.valor %></td>
    <td><%= transacao.data %></td>
    <td><%= link_to 'Visualizar', transacao, class:"btn btn-primary" %></td>
    <td><%= link_to 'Editar', edit_transacao_path(transacao), class:"btn btn-warning" %></td>
    <td><%= link_to 'Apagar', transacao, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
  </tr>
<% end %>
</tbody>
</table>