<h2>Extrato</h2>

<table class="table table-hover table-condensed">
  <tr>
    <th>Codigo</th>
    <th>Tipo</th>
    <th>Nro conta</th>
    <th>Nro conta transf</th>
    <th>Valor</th>
    <th>Data</th>
  </tr>
  </thead>

  <tbody>
  <% @extrato.each do |transacao| %>
      <tr>
        <td><%= transacao.codigo %></td>
        <td><%= transacao.tipo %></td>
        <td><%= transacao.nro_conta %></td>
        <td><%= transacao.nro_conta_transf %></td>
        <td><%= transacao.valor %></td>
        <td><%= transacao.data %></td>

      </tr>
  <% end %>
  </tbody>
</table>