<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @funcionario.codigo %>
</p>

<p>
  <b>Nome:</b>
  <%= @funcionario.nome %>
</p>

<p>
  <b>Endereco:</b>
  <%= @funcionario.endereco %>
</p>

<p>
  <b>Email:</b>
  <%= @funcionario.email %>
</p>

<p>
  <b>Senha:</b>
  <%= @funcionario.senha %>
</p>

<p>
  <b>Funcao:</b>
  <%= @funcionario.funcao %>
</p>


<%= link_to 'Edit', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Back', funcionarios_path %>
